<!doctype html>
<html>
  <head>
  </head>

  <body>
    <h1> Hello there {{ username }} !</h1>
    <h2> You've logged in {{ logintimes }} times so far. </h2>

    <h3> Practice your clicking! </h3>
    <form method="post" action="/click">
      <input type="submit" value="Click me many times!">
      {{ clicktimes }}
    </form>

    <h3> Post a message </h3>
    <form method="post" action="/messages">
      <input type="text" name="message" placeholder="Say something!">
      <input type="submit" value="Post">
    </form>

    <h3> Messages from your circle: </h3>
    <ul>
        {{ #messages }}
        <li>
          <span>"{{ msg }}" -- {{ username }}</span>
        </li>
        {{ /messages }}
    </ul>

    <form method="post" action="/logout">
    <input type="submit" value="Log out">
    </form>
  </body>

</html>
